.header-bar {
    display: grid;
    grid-template-columns: auto max-content auto auto; /* logo - menu-col - sparks-col - right-controls */
    align-items: center;
    column-gap: 0;           /* controlaremos con padding/margin */
    height: 100px;
    padding: 0 30px 0 30px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -18px;
    background-color: black;
    color: #cbcbcb;
}

.header-bar > .logo-col img {
    height: 45px;
    display: block;
}

/* MENU-COL */
.header-bar > .menu-col {
    display: flex;
    flex-direction: column;  
    justify-content: center;     
    align-items: flex-start;    
    gap: 5px;
    margin-left: 30px;         /* separación del logo */
    width: max-content;         /* que solo ocupe lo que necesita */
}

/* Explore */
.menu-col > .explore {
    font-weight: 700;
    color: rgb(220, 220, 12);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* Fila de enlaces debajo */
.menu-row {
    display: flex;
    gap: 15px;
}

.menu-row a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* SPARKS-COL */
.header-bar > .sparks-col {
    display: flex;
    align-items: flex-start;       /* alineado arriba del menu-col */
    margin-left: 20px;             /* separación del menu-col */
                                    /* alineamos verticalmente con menu-row usando margin-top */
    margin-top: 28px;              /* ajustar según altura de menu-row */
}

.header-bar > .sparks-col a {
    font-weight: 700;
    color: rgb(199, 198, 198);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

/* Right controls */
.header-bar > .right-controls {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 400px;             /* separación respecto de sparks-col */
    margin-right: -30px;
}

/* Botones de right-controls */

.search-icon {
    font-size: 30px;
}

.search-icon {
    display: flex;
    gap: 18px;   /* ahora hay más espacio entre Log In y Sign Up */
}

.create {
    padding: 10px 10px 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create > .triangle {
    color: #47cf73; /* verde */
    font-size: 25px;
    margin-left: 4px;
}

.button-group {
    display: flex;
    gap: 15px;   /* ahora hay más espacio entre Log In y Sign Up */
}

.button-group button {
    padding: 15px 15px 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create, .login, .signup {
    background-color: #8a8989;
    color: white;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}