/* Principal */

.principal {
    display: flex;
    gap: 0;
    padding: 0px 20px;
    align-items: flex-start;
    margin-left: -15px;
    margin-right: -20px;
    padding: 0 0 20px 0; 
    background-color: #2F323A;
}

.principal > .left-col {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 150px;
    margin-left: 50px;
    background: radial-gradient(circle at top center, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.05) 30%, rgba(0,0,0,0) 50%);
    overflow: hidden;
}

.left-column::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    backdrop-filter: blur(100px); /* suaviza el gradiente */
    z-index: 1;
}

.principal > .left-col > .text-block {
    max-width: auto;
}

.right-col {
    justify-content: center;
    padding: 25px 0 0 0;
    margin-right: -20px;
    margin-bottom: -8px;
    position: relative;
    z-index: 1;
}

.right-col::before {
    content: "";
    position: absolute;
    top: 0;
    left: -80px;   /* IMPORTANTE: mueve el degradado un poco hacia la izquierda para que se solape bien */
    width: 150%;  
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(47,50,58,0) 0%,      /* coincide exactamente con el final visual de tu left-col */
        rgba(0,0,0,0.6) 50%,      /* empieza a oscurecer */
        rgba(0,0,0,1) 100%        /* negro completo al final */
    );
    pointer-events: none;
    z-index: -1;
}

.right-col img {
    width: 100%;
    height: 100%;
    margin-top: -10px;
}

/*BANDA CODEPEN FOR...*/

.code-banda {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #36383F; /* color de fondo de la banda */
}
.code-banda > .code-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border: #606162 solid 2px;
}

.code-banda > .code-item a {
    text-decoration: none;
    font-size: 25px;;
    color: white;
    font-family: 'Lato', sans-serif;
}

.code-banda > .code-item > .band-link > .bold {
    font-weight: 1000;
}

